.home{
    max-width: $huge;
    min-height: calc(100vh - #{$header-height} - #{$footer-mobile});
    margin: 0 auto;
    padding: lhs(1.5) lhs();
    
    @include links($black, $black,rgba($black,.7),rgba($black,.7));

    
    @media(min-width: $mobile){    
        min-height: calc(100vh - #{$header-height} - #{$footer-height});
    }

    @media(min-width: $desktop){    
    	padding: lhs(1.5) lhs(2);
    }

    @media(min-width: $huge){    
    	padding: lhs(2.5) lhs(2);
    }
    
    &__heading{
        border-bottom: $border-width solid black;
        padding-bottom: lhs(1.5);
        margin-bottom: lhs(1.5);
    }

    &__header{
        margin-bottom: 0;
        font-family: "BebasKai";

        font-size: 3.5rem;
        line-height: 3.5rem;
        font-weight: 400;
        letter-spacing: 1px;
        text-transform: uppercase;

        @media(min-width: $tiny){
            font-size: get-size($h1);
            line-height: get-size($h1);
        }
    }

    &__link{
        font-weight: $bold;
    }
}
