<template>
  <label class="checkbox">{{ text }}
    <input type="checkbox" >
    <span class="checkbox__checkmark"/>
  </label>
</template>

<script>
export default {
  props: {
    text: {
      type: String,
      default: '',
    },
    checked: {
      type: Boolean,
      default: false,
    },
  },
};
</script>


<style lang="scss">
  @import 'assets/style/components/checkbox';
</style>
