<template>
  <footer class="footer">
    <div class="footer__left">&copy; Do Německa Na Zkušenou</div>
    <div class="footer__right">
      <a href="https://elisiondesign.cz" target="blank_" rel="noopener">by elision 2018</a>
    </div>
  </footer>
</template>

<style lang="scss">
  @import 'assets/style/components/footer';
</style>
