<template>
  <form class="form">

    <div class="form__part">
      <div class="form__row">
        <div class="form__item">
          <h2 class="form__title">
            Název školy:
          </h2>
          <input
            type="text"
            name="institution"
            class="form__line">
        </div>

        <div class="form__item">
          <h2 class="form__title">
            Adresa školy:
          </h2>
          <input
            type="text"
            name="school-address"
            class="form__line">
        </div>
      </div>


      <div class="form__row">
        <div class="form__item">
          <h2 class="form__title">
            Kraj:
          </h2>
          <select name="region" class="form__line">
            <option>Praha</option>
            <option>Středočeský</option>
            <option>Jihočeský</option>
            <option>Plzeňský</option>
            <option>Karlovarský</option>
            <option>Ústecký</option>
            <option>Liberecký</option>
            <option>Královéhradecký</option>
            <option>Pardubický</option>
            <option>Vysočina</option>
            <option>Jihomoravský</option>
            <option>Olomoucký</option>
            <option>Moravskoslezský</option>
            <option>Zlínský</option>
          </select>
        </div>

        <div class="form__item">

          <div class="form__divided">
            <div class="form__small">
              <h2 class="form__title">
                Typ školy:
              </h2>
              <select name="school-type" class="form__line">
                <option>ZŠ</option>
                <option>SŠ</option>
                <option>VŠ</option>
              </select>
            </div>
            <div class="form__big">
              <h2 class="form__title">
                Obor školy:
              </h2>
              <input
                type="text"
                name="school-specific"
                class="form__line"
                placeholder="Např. Gymnázium">
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="form__part">
      <div class="form__row">
        <div class="form__item">
          <h2 class="form__title">
            Kontaktní osoba:
          </h2>
          <input
            type="text"
            name="contact"
            class="form__line"
            placeholder="Jméno a příjmení">
        </div>

        <div class="form__item">
          <h2 class="form__title">
            Telefon:
          </h2>
          <input
            type="phone"
            name="phone"
            class="form__line"
            placeholder="+420 XXX XXX XXX">
        </div>
      </div>

      <div class="form__row">
        <div class="form__item">
          <h2 class="form__title">
            E-mail:
          </h2>
          <input
            type="e-mail"
            name="email"
            class="form__line"
            placeholder="user@example.com">
        </div>
      </div>
    </div>

    <button class="form__button">
      <nuxt-link to="krok2">
        Pokračovat >
      </nuxt-link>
    </button>

  </form>
</template>

<script>

</script>

<style lang="scss">
  @import 'assets/style/components/form';
</style>
