<template>
  <form class="form">

    <div class="form__part">
      <div class="form__row">
        <div class="form__item">
          <h2 class="form__title">
            Ročník:
          </h2>
          <input
            type="text"
            name="class"
            class="form__line">
        </div>

        <div class="form__item">
          <h2 class="form__title">
            Počet požadovaných prezentací:
          </h2>
          <select name="number" class="form__line">
            <option>1 prezentace</option>
            <option>2 prezentace</option>
            <option>3 prezentace</option>
            <option>4 prezentace</option>
          </select>
        </div>
      </div>

      <div class="form__row">
        <div class="form__item">
          <h2 class="form__title">
            Znalost němčiny:
          </h2>
          <div class="form form__checkbox">
            <checkbox-option :text="'A1'" />
            <checkbox-option :text="'A2'" />
            <checkbox-option :text="'B1'" />
            <checkbox-option :text="'B2'" />
            <checkbox-option :text="'C1'" />
            <checkbox-option :text="'C2'" />
          </div>
        </div>

        <div class="form__item">
          <h2 class="form__title">
            Máme zájem o tato témata:
          </h2>
          <div class="form form__checkbox">
            <checkbox-option :text="'mimoškolní aktivity'" />
            <checkbox-option :text="'dobrovolnictví'" />
            <checkbox-option :text="'letní jazykové školy'" />
            <checkbox-option :text="'studium  a stipendia'" />
            <checkbox-option :text="'odborná praxe'" />
            <input
              type="text"
              name="different-topic"
              placeholder="Jiné téma"
              class="form__line">
          </div>
        </div>
      </div>
    </div>

    <div class="form__part">
      <div class="form__row">
        <div class="form__item">
          <h2 class="form__title">
            Vyberte datum prezentace:
          </h2>
          <div class="form__date">
            <!-- <span class="form__subtitle">Prezentace se může konat v tomto období:</span> -->
            <div class="datepicker-trigger">
              <input
                type="text"
                id="datepicker-trigger"
                placeholder="Vyberte přibližné období prezentace"
                :value="formatDates(dateOne, dateTwo)"
                style="width: 100%; height: 3.375rem;"
              >

              <AirbnbStyleDatepicker
                :show-shortcuts-menu-trigger="false"
                :mobile-header="'Vyberte období'"
                :trigger-element-id="'datepicker-trigger'"
                :mode="'range'"
                :fullscreen-mobile="true"
                :date-one="dateOne"
                :date-two="dateTwo"
                @date-one-selected="val => { dateOne = val }"
                @date-two-selected="val => { dateTwo = val }"
              />
            </div>
          </div>
        </div>

        <div class="form__item">
          <h2 class="form__title">
            Poznámky:
          </h2>
          <textarea
            type="text"
            name="notes"
            class="form__box"
            placeholder="Například konkrétní datum, požadovaný den v týdnu, požadovaný referent" />
        </div>
      </div>

    </div>

    <button class="form__button form__button--left">
      <nuxt-link to="/">
        &lt; Zpět
      </nuxt-link>
    </button>
    <button class="form__button">
      <nuxt-link to="krok3">
        Odeslat >
      </nuxt-link>
    </button>

  </form>
</template>

<script>
import CheckboxOption from '@/components/checkbox.vue';
import format from 'date-fns/format';
import cs from 'date-fns/locale/cs';

export default {
  components: {
    CheckboxOption,
  },

  data() {
    return {
      dateFormat: 'D MMMM',
      dateOne: '',
      dateTwo: '',
    };
  },
  methods: {
    formatDates(dateOne, dateTwo) {
      let formattedDates = '';
      if (dateOne) {
        formattedDates = format(dateOne, this.dateFormat, { locale: cs });
      }
      if (dateTwo) {
        formattedDates += ` - ${format(dateTwo, this.dateFormat, { locale: cs })}`;
      }
      return formattedDates;
    },
  },
};

</script>

<style lang="scss">
  @import 'assets/style/components/form';
</style>
