<template>
  <header class="header">
    <div class="header__left">
      <nav class="header__nav">
        <logo class="svg-logo-small" />
        <menu-nav />
      </nav>
    </div>

    <div class="header__right">
      <div class="header__socials">
        <a href="https://www.facebook.com/schulprojekt" target="blank_">
          <fb class="svg-socials-small" />
        </a>
        <a href="https://www.instagram.com/donemeckanazkusenou/" target="blank_">
          <insta class="svg-socials-small" />
        </a>
      </div>
    </div>
  </header>
</template>

<script>
import Logo from '@/assets/icons/Logo.svg';
import Fb from '@/assets/icons/fb.svg';
import Insta from '@/assets/icons/insta.svg';
import MenuNav from '@/components/menu.vue';

export default {
  components: {
    Logo,
    Fb,
    Insta,
    MenuNav,
  },
};
</script>

<style lang="scss">
  @import 'assets/style/components/header';
</style>
