
<template>
  <ul class="menu">
    <li class="menu__item"><a href="https://dnnz.cz/">Home</a></li>
    <li class="menu__item"><a href="https://dnnz.cz/cs/o-projektu">O nás</a></li>
    <li class="menu__item"><a href="/">Přihláška</a></li>
    <li class="menu__item"><a href="https://dnnz.cz/cs/nas-tym">Náš tým</a></li>
    <li class="menu__item"><a href="https://dnnz.cz/cs/faq">FAQ</a></li>
    <li class="menu__item"><a href="https://dnnz.cz/cs/kontakt">Kontakt</a></li>
    <li class="menu__item"><a href="https://dnnz.cz/cs/blog">Blog</a></li>
  </ul>
</template>

<style lang="scss">
  @import 'assets/style/components/menu';
</style>
