@import "lib/reset";

//shevy
@include headings;
@include body;
@include content;

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


h1 {
    font-family: "BebasKai"; 
}

body,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Open sans", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    color: $black;
    -webkit-tap-highlight-color: transparent;
    min-height: 100vh;
    background-color: $white;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

strong{
  font-weight: 700;
}

.wrapper {
  min-height: 100vh;
  background-color: $white;
}

.lazyload,
.lazyloading {
	opacity: 0;
}

.lazyloaded {
	opacity: 1;
	transition: all $slow;
}

.page-enter-active{
  transition: opacity .2s $smooth;
}

.page-enter, .page-leave-active {
  opacity: 0;
}


//datepicker styles

td.asd__day{
  line-height: 36px;
}

div.asd__action-buttons {
  min-height: 40px;
}
