.svg-logo-small {
    width: 38px;
	height: 38px;
}

.svg-socials-small{
	width: 24px;
	height: 24px;
	opacity: 1;
	margin-left: 1.2rem;
	transition: $smooth;

	&:hover{
		opacity: .7;
	}

	@media(min-width: $mobile){
		margin-left: 1.5rem;
    }
}
