/*relative sizes for headings*/
$h1: 4.44444;
$h2: 1.777;
$h3: 1.51;
$h4: 1.333;
$h5: 1.125;
$h6: 1;
$small: 0.95;

$regular: 400;
$bold: 700;

/*colors*/
$white: #fff;
$black: #191919;
$blacker: #000;

/*borders*/
$border-width: 8px;
$border-thin: 4px;


/*heights*/
$footer-mobile: 90px;
$footer-height: 60px;
$header-height: 60px;

/*breakpoints*/
$tiny: 550px;
$mobile: 750px;
$desktop: 1050px;
$huge: 1400px;

/* transitions */
$fast: 0.1s cubic-bezier(0.2, 0.01, 0.15, 0.8);
$smooth: 0.2s cubic-bezier(0.2, 0.01, 0.15, 0.8);
$slow: 0.4s cubic-bezier(0.2, 0.01, 0.15, 0.8);

/* z-index levels */
$always-behind: -1;
$layer1: 10;
$layer2: 20;
$layer3: 30;
$layer4: 40;
$layer5: 50;
$on-top: 99; // footer, header
$overlay: 100;

/*shevy config example */
$shevy: (
  base-font-size: .9rem,
  base-line-height: 1.5,
  base-font-scale: (
    $h1,
    $h2,
    $h3,
    $h4,
    $h5,
    $h6,
  ),
  proximity: true,
  proximity-factor: 0.85,
);

// custom fonts
@font-face {
  font-family: "BebasKai";
  src: url("/fonts/BebasKai.eot"), url("/fonts/BebasKai.otf") format("opentype"), url("/fonts/BebasKai.woff2") format("woff2");
}

// custom mixins and functions
@mixin links($link, $visit: $link, $hover: $link, $active: $link) {
  a {
    transition: color $smooth;
    text-decoration: none;

    color: $link;
    &:visited {
      color: $visit;
    }
    &:hover {
      color: $hover;
    }
    &:active {
      color: $active;
    }
  }
}
