.checkbox{
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: lhs(.5);

    font-size: get-size($h5);
    user-select: none;
    cursor: pointer;
    
    &:hover input ~ .checkbox__checkmark {
        background-color: #ccc;
    }

    input {
        position: absolute;
        height: 0;
        width: 0;
        opacity: 0;
        cursor: pointer;

        &:checked ~ .checkbox__checkmark {
            background-color: $black;
        }

        &:checked ~ .checkbox__checkmark:after {
            display: block;
        }    
    }  

    &__checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        border-radius: 4px;
        background-color: #eee;
        transition: background-color $fast;

        &:after {
            content: "";
            position: absolute;
            display: none;

            left: 8px;
            top: 4px;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
        }
    }
}
