.footer {
    height: $footer-mobile;
    display: block;
    padding: lhs();
    padding-bottom: 15px;
    text-align: center;

    font-weight: 700;

    @include links($black, $black,rgba($black,.7),rgba($black,.7));

    @media(min-width: $mobile){
        height: $footer-height;
    	display: flex;
    	justify-content: space-between;
    }

    &__left{
    	margin-bottom: lhs(.5);

    	@media(min-width: $mobile){
    		margin-bottom: 0;
    	}
    }
}
