.form{
    width: 100%;
    height: 100%;
    padding-bottom: lhs(2);
    @include links($black);

    &__part{
        padding: lhs() 0;

        @media(min-width: $mobile){
            padding: lhs(2) 0;
    	}
    }

    &__row{
        justify-content: space-between;
        margin-bottom: lhs();

        @media(min-width: $mobile){
            display: flex;
    	}
    }

    &__item{
        flex: 1 0 0;
        margin-bottom: lhs(2);

        @media(min-width: $mobile){
            max-width: 46%;
            margin-bottom: lhs();
    	}

        select{
            appearance: none;

            background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 25 25" enable-background="new 0 0 25 25" xml:space="preserve"><polygon id="XMLID_1_" fill="black" points="19.3,11 17,15 14.7,11 "/></svg>');
            background-position: right;
            background-size: contain;
            background-repeat: no-repeat;  
        }
    }

    &__divided{
        display: flex;
    }

    &__small{
        flex: 2 0 0;
        padding-right: 40px;

        @media(min-width: $desktop){
            flex: 1 0 0;
            padding-right: 60px;
    	}
    }

    &__big{
        flex: 3 0 0;
    }

    &__title{
        font-size: get-size($h5);
        margin-bottom: 0;
        font-weight: 700;
        text-transform: uppercase;
    }

    &__subtitle{   
        display: block;
        margin-bottom: lhs();     
        font-size: get-size($h5);
    }

    &__line{
        width: 100%;
        height: lhs(2.5);
        padding: 0 10px;

        border: 0;
        border-bottom: $border-thin solid black;

        font-family: "Open sans", sans-serif;
        font-size: get-size($h5);

        @media(min-width: $mobile){
            padding: 0 15px;
    	}
    }

    &__box{
        width: 100%;
        height: 240px;
        padding: 10px;
        margin: lhs(.5) 0;

        border: $border-thin solid black;
        resize: none;

        font-family: "Open sans", sans-serif;
        font-size: get-size($h5);

        @media(min-width: $mobile){
            padding: 15px;
    	}
    }

    &__button{
        border: 0;
        padding: 0;
        background: transparent;
        float: right;
        color: $black;

        font-family: "BebasKai";
        font-size: 2rem;
        line-height: 2.3rem;

        opacity: 1;
        cursor: pointer;

        @media(min-width: $mobile){    
            font-size: 3rem;
            line-height: 3.2rem;
        }

        @media(min-width: $desktop){    
            font-size: 3.5rem;
            line-height: 3.5rem;
        }

        &--left{
            float: left;
        }
    }

    &__checkbox {
        padding: lhs() 10px;
        padding-bottom: 0;

        @media(min-width: $mobile){
            padding: lhs() 15px;
            padding-bottom: 0;
        }
    }

    &__date{
        padding: lhs(.5) 0;

        input
        {
            height: 40px;
            padding: 0 10px;
            margin-bottom: lhs(2);

            border: $border-thin solid black;
            font-family: "Open sans", sans-serif;
            font-size: get-size($h5);
            
            cursor: pointer;
            transition: background-color $fast;

            @media(min-width: $mobile){
                padding: 0 15px;
            }

            &:hover{
                background-color: #eee;
            }
        }
    }
}
