.header {
    height: $header-height;
    width: 100%;
    display: flex;
    justify-content: space-between;

    &__nav {
        display: flex;
    }

    &__left {
        padding: lhs(.5) lhs(); 
        z-index: 99;
    }

    &__right {
        padding: lhs(.5) lhs();   
        z-index: 98;
    }

    &__socials {
        display: flex;
        margin-top: 3px;
    }
}
