.menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;  
    
    padding-top: lhs(4);
    padding-left: lhs();
    padding-right: lhs(4);
    
    background-color: $white;
    text-transform: uppercase;
    box-shadow: 2px 0 3px 0 rgba($black,0.2);
    z-index: 99;

    &__item{
        display: block;
        margin-top: lhs();

        @include links($black, $black,rgba($black,.7),rgba($black,.7));
        font-size: get-size($h5);
        font-weight: 700;

        cursor: pointer;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        -webkit-tap-highlight-color: transparent; /* For some Androids */

        a {
            width: 100%;
            display: block;
        }

        @media(min-width: $desktop){
            display: inline-block;
            margin-left: 1.5rem;
            margin-top: 3px;
        }
    }

    @media(min-width: $tiny){
        padding-left: lhs(2);
        padding-right: lhs(6);
    }

    @media(min-width: $desktop){
        display: inline-block;
        position: inherit;
        background-color: transparent;
        box-shadow: 0 0 0 transparent;
        margin: 0;
        padding: 0;
        height: auto;
        transform: translateX(0)!important; //reset animated property
    }
}
