<template>
  <div>
    <page-header />
    <nuxt/>
    <page-footer />
  </div>
</template>

<script>
import PageHeader from '@/components/header.vue';
import PageFooter from '@/components/footer.vue';

export default {
  components: {
    PageHeader,
    PageFooter,
  },
};
</script>

<style lang="scss">
  @import 'assets/style/main';
</style>
