<template>
  <div class="home">
    <div class="home__heading">
      <h1 class="home__header">
        Přihlašovací formulář
      </h1>
    </div>
    <p>
      Pro přihlášení školy k bezplatné prezentaci projektu
      Do Německa na zkušenou vyplňte následující formulář.
    </p>
    <form-one />
  </div>
</template>

<script>
import FormOne from '@/components/FormOne.vue';

export default {
  components: {
    FormOne,
  },
};

</script>

<style lang="scss">
  @import 'assets/style/pages/home';
</style>
