<template>
  <div class="home">
    <div class="home__heading">
      <h1 class="home__header">
        Přihlašovací formulář
      </h1>
    </div>
    <form-two />
  </div>
</template>

<script>
import FormTwo from '@/components/FormTwo.vue';

export default {
  components: {
    FormTwo,
  },
};

</script>

<style lang="scss">
  @import 'assets/style/pages/home';
</style>
