<template>
  <div class="home">
    <div class="home__heading">
      <h1 class="home__header">
        Formulář odeslán!
      </h1>
    </div>
    <p>
      Potvrzení Vám bylo zasláno na e-mail.
    </p>
    <p>
      Počet účastníků by neměl být vyšší než 30.<br>
      K realizaci prezentace je ve třídě
      nutné zajistit dataprojektor, počítač,
      reproduktory a připojení k internetu.
    </p>
    <p>
      Vaše případné dotazy zodpovíme na e-mailu
      <a href="mailto:nazkusenou@cnfm.cz" class="home__link">nazkusenou@cnfm.cz</a>,
      nebo nám zavolejte na <a href="tel:+420773987565" class="home__link">+420 773 987 565</a>.
    </p>
  </div>
</template>

<style lang="scss">
  @import 'assets/style/pages/home';
</style>
